*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

body{
    background-color: #fff;
}

a{
    color: black;
    text-decoration: none;
}

header{
    width: 600px;
    margin: auto;
    position: relative;
}

.header-name{
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    background-color: #00AFF0;
    width: 600px;
    padding: 20px;
    color: #fff;
}

.banner{
    display: flex;
    flex-direction: row;
    padding: 16px;
    height: 160px;
    background-image: url('./images/onlyfans-seeklogo-01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    border-left:  1px solid rgba(138, 150, 163, .25);
    border-right:  1px solid rgba(138, 150, 163, .25);
    border-top:  1px solid rgba(138, 150, 163, .25);
}

.return{
    display: flex;
    cursor: pointer;
}

.arrow{
    width: 25px;
    height: 25px;
}

.banner-stats{
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 0 0 0 15px;
}

.confirmed{
    width: 19px;
    height: 19px;
}

.banner-more{
    display: flex;
    align-items: center;
}

.banner-avatar{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-left:  1px solid rgba(138, 150, 163, .25);
    border-right:  1px solid rgba(138, 150, 163, .25);
    border-top:  1px solid rgba(138, 150, 163, .25);
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.copy-profile{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.copy-profile img{
    height: 50px;
    width: 50px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid whitesmoke;
}

.copy-profile:hover{
    color: #00AFF0;
}

.banner-info{
    padding: 16px;
    background-color: #fff;
    border-left:  1px solid rgba(138, 150, 163, .25);
    border-right:  1px solid rgba(138, 150, 163, .25);
}

.profile-name{
    padding: 0 0 15px 0;
    color: #242529;
}

.profile-name .name{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-name .name-link{
    font-size: 14px;
    color: #8A96A3;
}

.profile-info-link{
    color:#00AFF0;
}

.links{
    padding: 16px 0;
    display: flex;
    gap: 5px;
}

.links a{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    border: none;
    color: black;
    background-color: rgb(241, 242, 244);
    border-radius: 20px;
    padding: 5px 10px;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

button:hover{
    color:#00AFF0
}

.divider{
    background-color: #F6F7F8;
    height: 8px;
    width: 600px;
    margin: auto;
    border-top: 1px solid rgba(138, 150, 163, .25);
    border-left: 1px solid rgba(138, 150, 163, .25);
    border-right: 1px solid rgba(138, 150, 163, .25);
}

.home-side a{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: -350px;
    margin-top: 20px;
    font-size: 33px;
    color: #8A96A3;
}

.home-side a:hover{
    color: #00AFF0;
}

.home-side a img{
    width: 240px;
}

.subscribe-side{
    margin-top: 20px;
    position: absolute;
    top: 0;
    right: -400px;
    border: 1px solid rgba(138, 150, 163, .25);
    border-radius: 15px;
    width: 370px;
    padding-bottom: 16px;
}

.subscribe{
    width: 600px;
    margin: auto;
    border-left: 1px solid rgba(138, 150, 163, .25);
    border-right: 1px solid rgba(138, 150, 163, .25);
    padding-bottom: 16px;
}


.subscribe-header{
    color: #8A96A3;
    padding: 12px 16px;
    font-weight: 500;
}

.subscribe-button-wrapper{
    padding: 0 16px;
}

.subscribe-button{
    text-align: center;
    font-size: 14px;
    border-radius: 30px;
    background-color: #00AFF0;
    padding: 14px 22px;
    cursor: pointer;
}

.subscribe-button a{
    font-weight: 500;
    color: #FEFEFE;
}

.subscribe-button:hover{
    background-color: #007aff;
}

.posts{
    width: 600px;
    margin: auto;
    border-top: 1px solid rgba(138, 150, 163, .25);
    border-left: 1px solid rgba(138, 150, 163, .25);
    border-right: 1px solid rgba(138, 150, 163, .25);
    border-bottom: 1px solid rgba(138, 150, 163, .25);
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.posts-header-button{
    position: relative;
    text-align: center;
    font-size: 14px;
    color: #000000;
    padding: 2px 4px;
    border-left: 1px solid rgba(138, 150, 163, .25);
    border-right: 1px solid rgba(138, 150, 163, .25);
    border-bottom: 2px solid;
    cursor: pointer;
}

.posts-header-button:hover{
    color: #00AFF0;
}

.posts-header-text{
    border-radius: 5px;
    font-weight: 500;
    padding: 15px;
}

.posts-recent{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}

.posts-recent-text{
    font-size: 16px;
    color: #8A96A3;
    font-weight: 500;
}

.search img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.post{
    text-align: center;
    padding: 10px 16px;
    position: relative;
}

.post-person-info{
    display: flex;
    gap: 10px;
}
.post-person-image img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.post-person-name{
    font-size: 16px;
    font-weight: 400;
    color: #8A96A3;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 25px;
}

.post-person-name a{
    display: flex;
    margin-bottom: 10px;
}

.post-person-name img{
    width: 16px;
    height: 16px;
}

.post-person-name p{
    margin-right: 5px;
}

.post-person-name a:hover{
    text-decoration: underline;
}

.post-text{
    text-align: start;
    margin-bottom: 10px;
}

.post-text a{
    color: #00AFF0;
}

.post-image-wrapper{
    margin-bottom: 20px;
}

.post-image{
    width: 568px;
}

.post-info{
    display: flex;
    text-align: start;
    gap: 15px;
}
.likes-icon, .post-comments, .post-bookmarks{
    cursor: pointer;
}

.post-likes{
    width: 30px;
}

.likes-icon{
    margin-bottom: 15px;
}

.post-date{
    position: absolute;
    top: 0;
    right: 16px;
    color: #8A96A3;
    padding-top: 10px;
}

.post-date:hover{
    text-decoration: underline;
    color: #00AFF0;
    cursor: pointer;
}

.post-comments{
    margin-right: 450px;
}

.likes-text{
    text-align: start;
    color: #242529;
    display: flex;
    font-weight: 300;
}

.likes-text p{
    font-weight: 600;
    margin-right: 5px;
}
